<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.wgplaner">

    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WGPlaner">
        <activity android:name=".controller.AlleAufgabenActivity"></activity>
        <activity android:name=".controller.NichtImplementiertActivity" />
        <activity android:name=".controller.ErgebnisActivity" />
        <activity android:name=".controller.AufgabeBearbeitenActivity" />
        <activity
            android:name=".controller.MitgliedHinzufuegenActivity"
            android:screenOrientation="portrait" />
        <activity android:name=".controller.WGErstellenActivity" />
        <activity
            android:name=".controller.AufgabenErstellenActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.AufgabeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".controller.MainActivity"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>